{{- if and .Values.dns.enabled (eq .Values.dns.provider "cloudflare") (not .Values.dns.cloudflare.existingSecret) .Values.dns.cloudflare.apiToken }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "mail-relay.fullname" . }}-cloudflare
  labels:
    {{- include "mail-relay.labels" . | nindent 4 }}
type: Opaque
data:
  api-token: {{ .Values.dns.cloudflare.apiToken | b64enc | quote }}
{{- end }}
